* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --accent-color: #666;
}

body {
  padding: 1rem 2rem;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  margin-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table {
  width: 100%;

  td,
  th {
    text-align: left;
    vertical-align: top;
    padding-block: 0.25rem;
  }

  th {
    font-weight: 600;
    color: var(--accent-color);
  }

  td {
    padding-inline: 0.5rem;
  }
}

.details {
  width: 17ch;
}

ul {
  padding-left: 0.5rem;
}

.experiences,
.education {
  table {
    td {
      border-bottom: 1px solid #ccc;
    }
  }
}

.experiences table {
  margin-left: 20px;
}

.experiences th {
  width: 10ch;
  position: relative;
}

.experiences th::before {
  content: "";
  width: 16px;
  position: absolute;
  height: 100%;
  left: -22px;
}

th::before {
  background-color: dodgerblue;
}

th.microsoft::before {
  background-color: #6f6f6f;
}

th.oracle::before {
  background-color: #dd1f23;
}

th.grammarly::before {
  background-color: #0bb990;
}

th.amazon::before {
  background-color: #f3a120;
}

th.inmobi::before {
  background-color: #1472f3;
}

th.accenture::before {
  background-color: #9b00f6;
}

.education table td {
  border-bottom: none;
}

header {
  display: flex;
  justify-content: space-between;

  .intro {
    display: flex;
    flex-direction: column;
    color: var(--accent-color);

    h1 {
      text-transform: uppercase;
      font-weight: 500;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    a,
    span {
      text-decoration: none;
      color: var(--accent-color);
      font-weight: 500;
    }
  }
}
