*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
}

:root{

}

body{
    padding: 1rem 2rem;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contacts{
    display: flex;
    justify-content: space-between;
}

section h2{
    border-bottom: 2px solid #999;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
}
ul.experiences{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > li{
        padding:0 0 1rem 1rem;
        border-bottom: 1px solid #999;
    }

    p{
        font-weight: 500;
        margin-block:0.25rem;
    }

    ul {
        padding-left: 1rem;
        list-style: square;
    }
}

.skills ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

section h4{
    color:dodgerblue;
    font-weight: 600;
    font-size: 1.1rem;
}

section h5{
    display: flex;
    justify-content: space-between;

    span{
        font-weight: 300;
        color:#000;
    }
}