* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 1rem 2rem;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

table {
  width: 100%;

  td,
  th {
    text-align: left;
    vertical-align: top;
    padding-block: 0.25rem;
  }

  th {
    font-weight: 600;
    color: dodgerblue;
  }

  td {
    padding-inline: 0.5rem;
  }
}

.details {
  width: 17ch;
}

ul {
  padding-left: 0.5rem;
}

.experiences,
.education {
  table {
    td {
      border-bottom: 1px solid #ccc;
    }
  }
}

.education table td {
  border-bottom: none;
}

header {
  display: flex;
  justify-content: space-between;

  .intro {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    a,
    span {
      text-decoration: none;
      color: dodgerblue;
      font-weight: 500;
    }
  }
}
